@model IEnumerable<ProdutoViewModel>

@{
    ViewData["Title"] = "DIKATATITA - Loja de Porcelanas";
}

<div class="video-section">
    <video autoplay muted loop>
        <source src="~/assets/video/indexp.mp4" type="video/mp4">
        Seu navegador não suporta vídeos.
    </video>

    <div class="search-bar d-flex">
        <form asp-controller="Home" asp-action="Buscar" method="get" class="d-flex w-100">
            <input type="text" placeholder="Pesquisar produtos..." id="search-input" name="termo" value="@ViewBag.TermoBusca" autocomplete="off">
            <button type="submit" class="btn btn-primary search-btn">
                OK
            </button>
        </form>
    </div>
</div>
<br>
@await Html.PartialAsync("_ListaProdutos", Model)

<style>
    .search-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        max-width: 600px;
        z-index: 4;
    }

        .search-bar input {
            padding: 12px;
            border-radius: 30px 0 0 30px;
            border: none;
            width: 100%;
            outline: none;
            font-size: 1.1rem;
            background-color: #fff;
        }

    .search-btn {
        border: none;
        border-radius: 0 30px 30px 0;
        padding: 0 15px;
        background-color: #0077cc;
    }

        .search-btn:hover {
            background-color: #0066bb;
        }
</style>